.advantages__list {
    display: flex;
}

.advantages__item {
    margin-right: 30px;

    &:last-child{
    margin-right: 0;
    }
}

.advantages__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages__text {
    line-height: 1.7;
    color: $secondary-text-color;
}

.advantages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;

    background-color: $secondary-background-color;
}