.footer-form {
    margin-left: 93px;
}

.footer-form__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
}

.footer-form__field {
    display: flex;
}

.footer-form__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: $white-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
    outline: none;
    border: 1px solid $accent-color;
    }

    &::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    border-radius: 4px;
    border: transparent;
    min-width: 200px;
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}

.footer-form__icon {
    margin-left: 10px;
}