.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;

  &--inverse {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__logo {
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $white-color;
}
