.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  background-color: $white-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  margin-right: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.menu-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:last-child {
    margin-bottom: 302px;
  }
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  &--black {
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--current {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-contact {
  display: flex;
  flex-direction: column-reverse;
}

.menu-contact__item {
  &:last-child {
    margin-bottom: 32px;
  }

  &:not(:last-child) {
    margin-bottom: 64px;
  }
}

.menu-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  &--size {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }

  &--grey {
    color: $secondary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-contact__icon {
  display: none;
}

.menu-social {
  display: flex;
  gap: 10px;
}

.menu-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  color: $accent-color;
}
