.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .menu-button__close {
    display: none;
  }

  .menu-button__icon {
    display: block;
  }

  &.is-open .menu-button__close {
    display: block;
  }

  &.is-open .menu-button__icon {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    background: $white-color;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header-social {
  display: flex;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  color: $accent-color;
}
